/* CSS by Edward Kim */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* Skip Link Styles */
.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Navigation Styles */
nav {
  margin-top: 24px;
}
nav li {
  font-family: var(--font-body);
  text-transform: uppercase;
}
nav a {  
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 12px;
}



/* Global Layout Styles */
section {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 32px;
}



#top-section {
  background-color: var(--blue-bulletin);
  padding-top: 64px;
  padding-bottom: 32px;
}
#top-section .tagline {
  font-family: var(--font-heading);
  font-size: 1rem;
  font-variation-settings: "wdth" 40;
  padding-bottom: 1rem;
  color: var(--watchdog-white);
}

blockquote {
  font-family: var(--font-heading);
  font-size: 1rem;
  font-style: italic;
  font-variation-settings: "wdth" 40;
  padding: 1rem;
  width: 100%;
  text-align: center;
}



/* Breaking News Section */
#breaking-news {
    display: flex;
    flex-direction: column;
}
#breaking-news article {
  background-color: var(--news-flash);
  padding: 16px;
  border: solid var(--truth-text);
  filter: drop-shadow(var(--shadow));
  transition: var(--transition);
}
#breaking-news h2 {
  grid-column: 1 / span 2;
}
#breaking-news h3 {
  color: var(--watchdog-white);
  border-bottom: solid var(--watchdog-white);
}
#breaking-news p {
  color: var(--watchdog-white);
}
.article-video {
  width: 100%;
  height: auto;
}

#breaking-news article:hover {
  transform: translate(-8px, -8px);
}



/* Featured Articles Section */
#featured-articles {
  display: grid;
}
#featured-articles article {
  padding: 16px;
  border: solid var(--story-subtitle);
  transition: var(--transition);
}
#featured-articles h3 {
  border-bottom: solid var(--story-subtitle);
}
#featured-articles article:hover {
  transform: translate(-8px, -8px);
}



/* Subscription Form Section */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: var(--news-flash);
  border: solid var(--truth-text);
  padding: 1rem;
  filter: dropshadow(var(--shadow));
}

label {
  display: block;
  font-family: var(--font-body);
  color: var(--watchdog-white);
  padding-bottom: 4px;
}

.input-field input {
  width: 100%;
  height: 2rem;
}

fieldset {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: 1fr 1fr 1fr;
}

legend {
  display: block;
  font-family: var(--font-body);
  color: var(--watchdog-white);
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: solid var(--blue-bulletin);
  text-transform: uppercase;
  font-weight: 550;
}

.checkbox-field {
  display: flex;
}

#submit {
  grid-column: 1 / span 2;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 999px;
  filter: dropshadow(var(--shadow));
}

footer {
  background-color: var(--blue-bulletin);
  display: flex;
  flex-direction: column;
}
footer h2 {
  font-size: 1.25rem;
  color: var(--watchdog-white);
  padding: 32px 10% 32px 10%;
}
#follow-us-section {
  display: flex;
  gap: 16px;
}
#copyright {
  text-align: center;
}
footer a {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 8px 16px;
  font-family: var(--font-body);
  text-decoration: none;
  border-radius: 12px;
}
footer small {
  font-family: var(--font-body);
  color: var(--watchdog-white);
}

/* Global Text Styles */
h1 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--watchdog-white);
  line-height: 150%;
  padding-bottom: 1rem;
}

h2 {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 550;
  line-height: 150%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  line-height: 150%;
  padding-bottom: 0.25rem;
}

p {
  font-family: var(--font-body);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 150%;
}
a {
  transition: var(--transition);
}
a:hover {
  background-color: var(--blue-bulletin);
}

/* medium styles 620px */
@media only screen and (max-width: 620px) {
  .menu-button {
    display: block;
    background-color: var(--news-flash);
    padding: 8px 16px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
  }
  .menu-button:hover {
    background-color: var(--blue-bulletin);
  }

  .menu {
    display: none;
  }
  #menu-toggle:checked {
    .menu {
      display: block;
    }
  }
  #breaking-news {
    display: flex;
    flex-direction: column;
  }

  #featured-articles {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  #featured-articles h2 {
    grid-column: 1 / span 2;
  }
}

/* large styles 920px */
@media only screen and (min-width: 920px) {
  nav ul {
    display: flex;
    gap: 16px;
  }
  .mobile-nav label {
    display: none;
  }

  #breaking-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  #breaking-news article {
    background-color: var(--news-flash);
    padding: 16px;
    border: solid var(--truth-text);
    filter: drop-shadow(var(--shadow));
    transition: var(--transition);
  }
  #breaking-news h2 {
    grid-column: 1 / span 2;
  }
  #featured-articles {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
  }
  #featured-articles h2 {
    grid-column: 1 / span 3;
  }
}

/* x-large styles 1024px */
@media only screen and (min-width: 1024px) {
  nav ul {
    display: flex;
    gap: 16px;
  }
  .mobile-nav label {
    display: none;
  }

  #breaking-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  #breaking-news article {
    background-color: var(--news-flash);
    padding: 16px;
    border: solid var(--truth-text);
    filter: drop-shadow(var(--shadow));
    transition: var(--transition);
  }
  #breaking-news h2 {
    grid-column: 1 / span 2;
  }

  #featured-articles {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  #featured-articles h2 {
    grid-column: 1 / span 4;
  }
}

/* Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }
}

@media (prefers-reduced-motion: reduce) {
  #breaking-news article {
    transition: none;
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
}